<div class="modal add_factura_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content factura_content">
            <div class="modal-header">
                <h5 class="modal-title">Emite factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add_factura_form">
                    <div class="form-group row" style="font-weight: bolder;">
                        Furnizor: &nbsp; <span id="furnizor_factura"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-7 mb-3 mb-sm-0">
                            <label for="factura_pacient">Pacient - cauta dupa CNP</label>
                            <select type="text" class="form-control select2-search" id="factura_pacient" name="factura_pacient">
                                <option value="">CNP</option>
                            </select>
                        </div>
                        <div class="col-sm-5 mb-3 mb-sm-0">
                            <label for="factura_pj">Client PJ - cauta dupa CUI</label>
                            <select type="text" class="form-control select2-search" id="factura_pj" name="factura_pj">
                                <option value="">CUI</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 mb-3 mb-sm-0"></div>
                        <div class="col-sm-3 mb-3 mb-sm-0" style="font-weight: bolder;">
                            Suma: <span id="suma_factura"></span> lei
                        </div>
                    </div>
                    <input type="hidden" id="owner_factura" name="owner_factura" value=""/>
                    <input type="hidden" id="consultatii_factura" name="consultatii_factura" value=""/>
                </form>
                <input type="hidden" id="cnp_factura" name="cnp_factura" value=""/>
            </div>
            <div class="modal-footer">
                <p class="modal-body rezultat_operatiune" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
                <button type="button" class="btn btn-primary confirma_factura">Confirma
                    <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>