<div class="modal add_serviciu_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adauga serviciu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="add_serviciu_form">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="add_denumire_serviciu">Denumire</label>
                                <input type="text" class="form-control" id="add_denumire_serviciu" name="add_denumire_serviciu" placeholder="Denumire serviciu">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="add_tip_serviciu">Tip</label>
                                <select required type="text" class="form-control" id="add_tip_serviciu" name="add_tip_serviciu">
                                    <option value="0">Consultatie</option>
                                    <option value="1">Investigatie</option>
                                    <option value="2">Psihodiagnostic</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <p class="modal-body rezultat_operatiune" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
                <button type="button" class="btn btn-primary confirma_adauga_serviciu">Confirma
                    <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>