<div class="modal add_edit_programare_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content programare_content">
            <div class="modal-header">
                <h5 class="modal-title titlu_add_edit_programare">Adauga programare</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add_edit_programare_form">
                    <div class="form-group row">
                        <div class="col-sm-8 mb-3 mb-sm-0">
                            <label for="programare_pacient">Pacient</label>
                            <select type="text" class="form-control select2-search" id="programare_pacient" name="programare_pacient">
                                <option value="">CNP</option>
                            </select>
                        </div>
                        <div class="col-sm-4 dropdown show">
                            <label for="programare_medic">Medic</label>
                            <select type="text" class="form-control" id="programare_medic" name="programare_medic">
                                <option value="">- Alegeti -</option>
                                {% for medic in medici %}
                                    <option value="{{ medic.id }}">{{ medic.nume ~ " " ~ medic.prenume }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 dropdown show">
                            <label for="programare_pret_serviciu">Serviciu</label>
                            <select type="text" class="form-control" id="programare_pret_serviciu" name="programare_pret_serviciu">
                                <option value="">- Alegeti -</option>
                            </select>
                        </div>
                        <div class="col-sm-4 mb-2 mb-sm-0">
                            <label for="programare_pret">Tarif RON</label>
                            <input type="text" class="form-control" id="programare_pret" name="programare_pret" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 dropdown show">
                            <label for="programare_data">Data programarii</label>
                            <div class="input-group">
                                <input class="form-control date-or-time" type="text" name="programare_data" id="programare_data" />
                                <span class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar"></i></span></span>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-2 mb-sm-0">
                            <label for="programare_ora">Ora programarii</label>
                            <div class="input-group">
                                <input class="form-control date-or-time" type="text" name="programare_ora" id="programare_ora" />
                                <span class="input-group-append"><span class="input-group-text"><i class="fa fa-clock"></i></span></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="programare_id" name="programare_id" value=""/>
                </form>
            </div>
            <div class="modal-footer">
                <p class="modal-body rezultat_operatiune" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
                <button type="button" class="btn btn-primary confirma_programare">Confirma
                    <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>