<div class="modal add_edit_investigatie_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal_investigatie_content"></div>
    </div>
</div>