<div class="modal modal_stergere" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sterge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="stergere_text"></p>
                <input type="hidden" id="modal_stergere_id" name="modal_stergere_id">
            </div>
            <div class="modal-footer">
                <p class="rezultat_operatiune modal-body"></p>
                <button type="button" class="btn btn-primary confirma_stergere">Confirma
                    <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
            </div>
        </div>
    </div>
</div>