<div class="modal add_consultatie_investigatie_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content cons_inv_content">
            <div class="modal-header">
                <h5 class="modal-title titlu_cons_inv_modal">Pacient - Adauga consultatie/investigatie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="preturi_title"><h5 style="font-weight: bold;">SELECTEAZA CONSULTATII / INVESTIGATII</h5></div>
                <div class="preturi_checkboxes dual-wrapper">
                    <div class="left-label">Servicii disponibile pentru pacient</div>
                    <div class="right-label">Servicii pacient in consultatii deschise sau neincasate azi</div>
                    <select multiple="multiple" size="10" name="duallistbox_servicii[]" title="duallistbox_servicii[]" style="height: 350px"></select>
                </div>
            </div>
            <div class="modal-footer">
                <p class="modal-body rezultat_operatiune" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
                <input type="hidden" id="deschide_cons_inv_pacient_id" name="deschide_cons_inv_pacient_id" value="">
                <input type="hidden" id="deschide_cons_inv_programare_id" name="deschide_cons_inv_programare_id" value="">
                <button type="button" class="btn btn-primary confirma_adauga_consultatie_investigatie">Confirma
                    <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>