<div class="modal incasare_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content incasare_content">
            <div class="modal-header">
                <h5 class="modal-title titlu_incasare_modal">Pacient - Plata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-10 mb-3 mb-sm-0">
                        <div class="row">
                            <div class="col-sm-12 mb-3 mb-sm-0 twig-style-054">
                                <div class="twig-style-058">
                                    <span class="twig-style-114">Valoare servicii</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table id="table_servicii" class="twig-style-007"></table>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-3 mb-sm-0">
                        <div class="row twig-style-115" id="incasare_owner_text"></div>
                        <div class="row twig-style-079">
                            <button type="button" class="btn btn-primary confirma_incasare" disabled>Incaseaza
                                <span class="spinner-border spinner-border-sm spinner twig-style-003"></span>
                            </button>
                            <p class="twig-style-116">(Pentru raport colaborator si facturare)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="modal-body rezultat_operatiune twig-style-012"></p>
                <input type="hidden" id="incasare_pacient_id" name="incasare_pacient_id" value="">
                <input type="hidden" id="data_consultatii" name="data_consultatii" value="">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>