<div class="modal modal_inchide_toate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Inchide toate consultatiile pacientului</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="inchide_toate_text">Inchideti toate consultatiile pacientului selectat?</p>
                <input type="hidden" id="inchide_pacient_id" name="inchide_pacient_id">
            </div>
            <div class="modal-footer">
                <p class="rezultat_operatiune modal-body" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
                <button type="button" class="btn btn-primary confirma_inchide_toate">Confirma
                    <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>