<div class="modal modal_plateste_colaborator" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Plata colaborator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="plateste_colaborator_text"></p>
                <form id="form_plata_colaborator">
                    <input type="hidden" id="raport_plateste_id" name="raport_plateste_id">
                </form>
            </div>
            <div class="modal-footer">
                <p class="rezultat_operatiune modal-body" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
                <button type="button" class="btn btn-primary confirma_plata_colaborator">Confirma
                    <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>