<div class="modal servicii_documente_modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content servicii_documente_content">
            <div class="modal-header">
                <h5 class="modal-title titlu_servicii_documente_modal">Pacient - Lista consultatii / investigatii</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="twig-style-110">Cauta</div>
                <div class="twig-style-111">
                    <input class="form-control" id="cauta_serviciu" />
                </div>
                <div id="div_servicii_documente">
                    <table id="table_servicii_documente"></table>
                </div>
            </div>
            <input id="servicii_documente_pacient_id" name="servicii_documente_pacient_id" type="hidden"/>
            <div class="modal-footer">
                <p class="rezultat_operatiune modal-body twig-style-012"></p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
            </div>
        </div>
    </div>
</div>