<div class="modal view_investigatie_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content view_modal_investigatie_content"></div>
    </div>
</div>