<p>Buna ziua,</p>
<p>Pentru resetarea parolei, apasati link-ul de mai jos:</p>
<p><a href="{{ url('forgot_password_reset', {'token': token}) }}">Reseteaza parola</a></p>
<p>Link-ul expira in 1 ora.</p>