{% extends 'base.html.twig' %}
{% block title %}MIND RESET - Consultatii{% endblock %}
{% block tableTitle %}Consultatii, investigatii si documente pacienti{% endblock %}
{% block classAddBtn %}{{ 'no_show' }}{% endblock %}
{% block table %}
    <table class="table table-bordered rounded dataTable display nowrap" id="consultatii" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;"></table>
{% endblock %}
{% block addModal %}
    {% include 'modals/servicii_documente_pacient_modal.html.twig' %}
    {% include 'modals/add_edit_consultatie_modal.html.twig' %}
    {% include 'modals/add_edit_investigatie_modal.html.twig' %}
    {% include 'modals/add_edit_evaluare_psihologica_modal.html.twig' %}
    {% include 'modals/view_consultatie_modal.html.twig' %}
    {% include 'modals/view_investigatie_modal.html.twig' %}
    {% include 'modals/view_evaluare_psihologica_modal.html.twig' %}
    {% include 'modals/inchide_deschide_modal.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/consultatii.js') }}"></script>
    <script src="{{ asset('assets/js/pacienti.js') }}"></script>
{% endblock %}