{% extends 'base.html.twig' %}
{% block title %}MIND RESET - Facturi{% endblock %}
{% block tableTitle %}Facturi{% endblock %}
{% block classAddBtn %}{{ 'no_show' }}{% endblock %}
{% block table %}
    <table class="table table-bordered rounded dataTable display nowrap" id="facturi" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;"></table>
{% endblock %}
{% block addModal %}
    {% include 'modals/add_factura_modal.html.twig' %}
    {% include 'modals/email_factura_modal.html.twig' %}
    {% include 'modals/storneaza_factura_modal.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/facturi.js') }}"></script>
{% endblock %}