{% extends 'base.html.twig' %}
{% set user = app.user %}
{% set ROL_ADMIN = 'ROLE_Administrator' %}
{% block title %}MIND RESET - Firme{% endblock %}
{% block tableTitle %}Firme - Owners{% endblock %}
{% block addBtnText %}Adauga{% endblock %}
{% if user.role != ROL_ADMIN %}
    {% set class = 'no_show' %}
{% else %}
    {% set class = 'add_owner' %}
{% endif %}
{% block classAddBtn %}{{ class }}{% endblock %}
{% block table %}
    <table class="table table-bordered rounded dataTable display nowrap" id="owners" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;"></table>
{% endblock %}
{% block addModal %}
    {% include 'modals/add_edit_owner_modal.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/owners.js') }}"></script>
{% endblock %}