<link href="{{ asset('assets/css/twig-extracted.css') }}" rel="stylesheet" type="text/css">
<div class="twig-style-004">
    <div class="twig-style-005">
        <div class="twig-style-006"></div>
        {{ status_code|raw }} <br>
        {{ message|raw }}
    </div>
</div>
