<div style="height: 100vh; width: 100vw; background: indianred; align-content: center;">
    <div style="margin-top: 150px; margin-left: 150px; font-size: 80px; font-weight: bolder; font-family: 'Ink Free',serif; color: whitesmoke;">
        <div style="height: 100px;"></div>
        {{ status_code|raw }} <br>
        {{ message|raw }}
    </div>
</div>